#gameZona{
    width: 520px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.brick{
    width: 50px;
    height: 30px;
    border: 1px ridge black;
    background-color: aqua;

}
.brick2{
    width: 51.6px;
    height: 31.6px;
}